@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet map z-index fix */
.leaflet-pane { z-index: 10 !important; }
.leaflet-top, .leaflet-bottom { z-index: 20 !important; }

/* Custom Scrollbar for Browse filters */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}